<div>
  <p>
    <div class = "well">
      <strong>Pseudonimo:</strong></br>
      <%= comment.pseudonimo %></br>
      <strong>Comment:</strong></br>
      <%= comment.mensaje %></br>
      <strong><%= time_ago_in_words(comment.created_at) + " ago" %></strong>
    </div>
  </p>
</div>