<div>
  <strong>COMMENTS:__________________________________________________________</strong>
  <p>
      <strong>Pseudonimo:</strong></br>
      <%= comment.pseudonimo %></br>
      <strong>Comment:</strong></br>
      <%= comment.mensaje %>
  </p>
</div>