<div>
  <div class = "well">
    <div class="comment" data-time="<%= comment.created_at.to_i %>"> 
      <fieldset>
        <legend><%= comment.pseudonimo.upcase%></legend>    
        <strong>Comment:</strong></br>
        <h5><%= markdown(comment.mensaje) %></h5></br>
        <strong><%= time_ago_in_words(comment.created_at) + " ago" %></strong>
      </fieldset>
    </div>
  </div>
</div>